
@{ Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "NetCourse - Index";

    }

    <section class="container section last-added">
        <h1 class="hidden">3 last added courses</h1>
        <div class="row">
            <div class="col s12 m4">

                <article class="icon-block">
                    <header>
                        <div class="center brown-text"><i class="large material-icons">verified_user</i></div>
                        
                    </header>
                    <section>
                        
                        <p class="light">

                            Czesto wrzucam tu swoje przepisy
                        </p>
                    </section>
                    <footer>
                        <h3>Autor</h3>
                        <p>James Arnold</p>
                        <div class="circular"><img src="~/Content/person3.jpg"style="border-radius:50%!important" /></div>
                    </footer>
                </article>
            </div>
            <div class="col s12 m4">
                <article class="icon-block">
                    <header>
                        <div class="center brown-text"><i class="large material-icons">verified_user</i></div>
                       
                    </header>
                    <section>
                        
                        <p class="light">
                            Polecam stronę każdej osobie która lubi gotować
                            
                        </p>
                    </section>
                    <footer>
                        <h3>Autor</h3>
                        <p>Avery Russell</p>
                        <div class="circular"><img src="~/Content/person2.jpg"  style="border-radius:50%!important"/></div>
                    </footer>
                </article>
            </div>
            <div class="col s12 m4">
                <article class="icon-block">
                    <header>
                        <div class="center brown-text"><i class="large material-icons">verified_user</i></div>
                        
                    </header>
                    <section>
                        <h2> sample text</h2>
                        <p class="light">
                            Dzięki tej stronie nauczyłam się wielu nowych nieznanych mi przepisów 
                            Polecam każdemu
                            
                        </p>
                    </section>
                    <footer>
                        <h3>Autor</h3>
                        
                        <p>Mery Jane</p>
                        <div class="circular"><img src="~/Content/person1.jpg" style="border-radius:50%!important"/></div>
                    </footer>
                </article>
            </div>
        </div>


    </section>

   
   
